* {
  margin: 0;
}

.App h1 {
  color: $iceblue;
}

.homepage {
  font-family: "Roboto Mono", monospace;
  background-color: $dirtice;
}

.top-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: $lightpurple;
}

.left-side {
  margin-left: 25px;
  width: 50%;
}

.right-side {
  display: flex;
  // display: grid;
  justify-content: space-between;
  // justify-items: center;
  height: 100px;
  width: 50%;
  align-items: center;
  float: right;
  margin-right: 35px;
  // grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  // align-items: center;
}

.logo {
  &:hover {
    cursor: pointer;
  }
  img {
    height: 60px;
  }
}

.topnav-buttons {
  display: flex;
  width: 700px;
  justify-content: space-between;

  button {
    padding: 15px 50px;
  }
}

.username {
  height: 100px;
  margin-top: 15px;
  color: $icegray;
  margin-left: 15px;
}

button {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  background-color: $darkpurple;
  border: none;
  box-shadow: 0 5px 20px 0 gray;
  color: $icegray;

  &:hover {
    transition: 1s ease-in-out;
    background-color: $activepurple;
  }

  &:active {
    transform: translateY(1px);
  }
}

.bottom-navbar {
  height: 100px;
  width: 100%;
  background-color: $lightpurple;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottomnav-buttons {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.copyright {
  color: $icegray;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: black;
  transition: 0.3 ease-in-out;
  text-align: center;
}
