.profile-space {
  display: flex;
  flex-direction: column;
  // margin: 15vh 5vw;
  margin-top: 15vh;
  margin-right: 5vw;
  margin-left: 5vw;
}

.items-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-bottom: 125px;
  justify-items: center;
}

.bottom-profiles {
  display: flex;
  justify-content: space-between;
}

.item {
  // width: 20vw;
  width: 300px;
  // height: 60vh;
  height: 500px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 7px black;
  background-color: $icegray;
  transition: 0.3s ease-in-out;

  // &:hover {
  //   cursor: pointer;
  //   filter: brightness(10%);
  // }
}
.item img {
  height: 225px;
  width: 225px;
  border-radius: 90px;
  margin-top: 40px;
}

.top-level {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  margin-top: 90px;
}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}
