$icegray: #ebebeb; /*background shadow for page*/
$lightpurple: #b2a9bf;
$dirtice: #f3f3f3; /*background shadow for profile*/
$iceblue: #cae9ef;
$mintgreen: #9ad5ca;
$darkpurple: #896d7f;
$activepurple: #705a68;
